@import "tailwindcss";

img {
  image-rendering: pixelated;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}

@layer base {
  * {
    @apply select-none;
  }
}

@layer utilities {
  .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
  .pixelated {
    image-rendering: pixelated;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@theme inline {
  --color-pale-cyan: #b7ffff;
  /* industrial_color1 */

  --color-light-cyan: #6effff;
  /* industrial_color2 */

  --color-cyan: #38caea;
  /* industrial_color3 */

  --color-medium-blue: #2e7cb9;
  /* industrial_color4 */

  --color-dark-blue: #1c53a3;
  /* industrial_color5 */

  --color-fadeblue: rgba(46, 124, 185, 0.7);
  /* industrial_color6 */

  --color-fadecyan: rgba(41, 124, 185, 0.4);
  /* industrial_color7 */

  --color-yellow: #fced70;
  /* industrial_color10 */

  --color-orange: #e8a112;
  /* industrial_color11 */

  --color-fadeorange: rgba(232, 161, 18, 0.4);
}

@keyframes glowAnimation {
  0% {
    filter: drop-shadow(0px 0px 50px rgba(41, 124, 185, 0.2));
  }
  50% {
    filter: drop-shadow(0px 0px 50px rgba(41, 124, 185, 0.4));
  }
  100% {
    filter: drop-shadow(0px 0px 50px rgba(41, 124, 185, 0.2));
  }
}

@keyframes heartAnimation {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0);
    filter: drop-shadow(0px 0px 50px rgba(41, 124, 185, 0.5));
  }
  100% {
    transform: translateY(-40px);
  }
}

@layer components {
  .glow-blue {
    filter: drop-shadow(0px 0px 50px rgba(41, 124, 185, 0.4));
    animation: glowAnimation 4s infinite;
  }
  .heart-animation {
    animation: heartAnimation 4s infinite;
  }
}

section {
  overflow: hidden;
}
