@import "tailwindcss";

@layer components {
  .gradient-border1 {
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #1c53a3 0%, #0f939a 100%) 1;
    box-sizing: border-box;
  }
  .gradient-border2 {
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #0f939a 0%, #1c53a3 100%) 1;
    box-sizing: border-box;
  }
  .gradient-border3 {
    border: 1px solid transparent;
    border-image: linear-gradient(
        180deg,
        #fffa81 0%,
        #fffa31 35%,
        #ffb531 35%,
        #ffb531 65%,
        #ff6116 65%,
        #ff6116 100%
      )
      1;
    box-sizing: border-box;
  }

  .gradient-bg1 {
    background: linear-gradient(90deg, #0f939a 0%, #1c53a3 100%) 1;
  }
  .gradient-bg2 {
    background: linear-gradient(transparent 0%, rgba(46, 124, 185, 0.7) 100%) 1;
  }

  .bg-grid {
    @apply absolute inset-0 bg-[url('/images/bgGrid.svg')] bg-repeat-y bg-cover z-[3] bg-left;
    background-size: 100vw auto;
    min-height: 100vh;
  }

  /* header */
  .row_links li {
    position: relative;
  }

  .row_links li:hover {
    color: #e8a112;
  }

  .link {
    transition: filter 3s;
    filter: url(#five_blue);
    font-size: 24px;
  }

  @media (max-width: 430px) {
    .link {
      font-size: clamp(17px, 5.4vw, 24px);
    }
  }

  .row_links li:hover .link {
    filter: url(#five_orange);
  }

  .row_links li::after {
    content: "";
    opacity: 0;
    width: 110%;
    height: 3px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fced70;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .row_links li:hover::after {
    opacity: 1;
  }

  /* components */

  .button-main {
    font-family: var(--font-minecraft-five);
    text-wrap: nowrap;
    color: #38caea;
    background-color: rgba(46, 124, 185, 0.4);
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, #0f939a 0%, #1c53a3 100%) 1;
    box-sizing: border-box;
    cursor: pointer;

    transition: transform 0.2s, background-color 0.2s, border-image 0.2s;
  }

  .button-main:hover {
    border-image: linear-gradient(90deg, #fced70 0%, #e8a112 100%) 1;
    background-color: rgba(232, 161, 18, 0.3);
    color: #e8a112;
  }
  .button-main:hover p {
    filter: url(#five_orange);
  }

  .button-start:hover {
    transform: translateY(-4px);
  }
  .button-details:hover {
    transform: translateY(4px);
  }

  .section-divider {
    background: linear-gradient(
      to right,
      transparent 0%,
      #38caea 50%,
      transparent 100%
    );
    width: 100%;
    height: 6px;
    opacity: 50%;
  }

  .section-divided-bottom::after {
    content: "";
    background: linear-gradient(
      to right,
      transparent 0%,
      #38caea 50%,
      transparent 100%
    );
    opacity: 50%;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* features section */
  .section-features {
    @apply max-w-[1580px] mx-auto overflow-hidden;
  }

  .feature-pair-container {
    /* @apply h-fit relative max-w-[90vw] min-[1520px]:w-[1520px] min-[1080px]:h-[800px] min-[1635px]:h-[500px] flex flex-col gap-[80px] justify-between; */
    @apply h-fit relative flex flex-col gap-[80px] justify-between max-w-[95vw] min-[1600px]:max-w-[1520px] min-[1150px]:h-[800px] min-[1150px]:w-[100%] min-[1680px]:h-fit;
  }
}
