@import "tailwindcss";

@theme inline {
  --font-minecraft-rus: var(--font-minecraft-rus);
  --font-minecraft-five: var(--font-minecraft-five);
  --font-minecraft-ten: var(--font-minecraft-ten);
}

@layer components {
  .text-shadow-blue {
    text-shadow: 0 -2px 0px #b7ffff, 0 -4px 0px #1c53a3;
  }
  .text-shadow-orange {
    text-shadow: 0 -2 0px #fced70, 0 -4px 0px #9c3700;
  }
  .title1 {
    @apply text-[4rem] font-bold tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title2 {
    @apply text-[2.5rem] font-bold tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title3 {
    @apply text-[2rem] font-bold leading-[37px] tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title4 {
    @apply text-[1.5rem] font-bold leading-[37px] tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }

  .text1 {
    @apply text-[1.25rem] font-normal leading-normal tracking-[0];
    font-family: var(--font-minecraft-rus);
  }
  .text2 {
    @apply text-[1.25rem] font-normal leading-[150%] tracking-[0];
    font-family: var(--font-minecraft-rus);
  }

  .title-footer {
    @apply text-[3.8rem] font-bold leading-[62px] tracking-[0];
    font-family: var(--font-minecraft-ten);
  }

  .title-button {
    @apply text-[2rem] font-bold leading-normal tracking-[0];
    font-family: var(--font-minecraft-five);
  }
}
