@import "tailwindcss";

@theme inline {
  --font-minecraft-rus: var(--font-minecraft-rus);
  --font-minecraft-five: var(--font-minecraft-five);
  --font-minecraft-ten: var(--font-minecraft-ten);
}

@layer components {
  /* .text-shadow-dark {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 25);
  } */
  .title-digits {
    font-family: var(--font-teeny-tiny-pixls);
  }
  .title1 {
    @apply text-[4rem] font-bold tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title2 {
    @apply text-[2.5rem] font-bold tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title3 {
    @apply text-[2rem] font-bold leading-[37px] tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title4 {
    @apply text-[1.5rem] font-bold leading-[37px] tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }

  .text1 {
    @apply text-[1.25rem] font-normal leading-normal tracking-[0];
    font-family: var(--font-minecraft-rus);
  }
  .text2 {
    @apply text-[1.25rem] font-normal leading-[150%] tracking-[0];
    font-family: var(--font-minecraft-rus);
  }
  .heading-mods {
    @apply text-[2.5rem] leading-normal tracking-normal;
    font-family: var(--font-minecraft-rus);
  }
  .title-footer {
    @apply text-[2.5rem] leading-[62px] tracking-[1px];
    font-family: var(--font-minecraft-ten);
  }

  .title-button {
    @apply text-[2rem] font-bold leading-normal tracking-[0];
    font-family: var(--font-minecraft-five);
  }

  .filter-five-blue {
    filter: url(#five_blue);
  }
  .filter-five-orange {
    filter: url(#five_orange);
  }
  .filter-text-common {
    filter: url(#common);
  }
  .filter-text-darkbottom {
    filter: url(#common);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: clamp(10px, 2vw, 14px);
  }
}
