@import "tailwindcss";

:root {

}

@theme inline {

  --font-minecraft-rus: var(--font-minecraft-rus);
  --font-minecraft-five: var(--font-minecraft-five);
  --font-minecraft-ten: var(--font-minecraft-ten);
}
