@import "tailwindcss";

:root {
}

@theme inline {
  --font-minecraft-rus: var(--font-minecraft-rus);
  --font-minecraft-five: var(--font-minecraft-five);
  --font-minecraft-ten: var(--font-minecraft-ten);

  --color-pale-cyan: #b7ffff;
  /* industrial_color1 */

  --color-light-cyan: #6effff;
  /* industrial_color2 */

  --color-cyan: #38caea;
  /* industrial_color3 */

  --color-medium-blue: #2e7cb9;
  /* industrial_color4 */

  --color-dark-blue: #1c53a3;
  /* industrial_color5 */

  --color-fadeblue: rgba(46, 124, 185, 0.7);
  /* industrial_color6 */

  --color-fadecyan: rgba(41, 124, 185, 0.4);
  /* industrial_color7 */

  --color-yellow: #fced70;
  /* industrial_color10 */

  --color-orange: #e8a112;
  /* industrial_color11 */
}

@layer components {
  .text-shadow-blue {
    text-shadow: 0 -2px 0px #b7ffff, 0 -4px 0px #1c53a3;
  }
  .text-shadow-orange {
    text-shadow: 0 -2 0px #fced70, 0 -4px 0px #9c3700;
  }
  .gradient1 {
    background: linear-gradient(to right, #1c53a3 0%, #0f939a 100%);
  }
  .title1 {
    @apply text-[4rem] font-bold tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title2 {
    @apply text-[2.5rem] font-bold tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title3 {
    @apply text-[2rem] font-bold leading-[37px] tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }
  .title4 {
    @apply text-[1.5rem] font-bold leading-[37px] tracking-[0.1em];
    font-family: var(--font-minecraft-five);
  }

  .text1 {
    @apply text-[1.25rem] font-normal leading-normal tracking-[0];
    font-family: var(--font-minecraft-rus);
  }
  .text2 {
    @apply text-[1.25rem] font-normal leading-[150%] tracking-[0];
    font-family: var(--font-minecraft-rus);
  }

  .title-footer {
    @apply text-[3.8rem] font-bold leading-[62px] tracking-[0];
    font-family: var(--font-minecraft-ten);
  }

  .title-button {
    @apply text-[2rem] font-bold leading-normal tracking-[0];
    font-family: var(--font-minecraft-five);
  }

  .bg-grid {
    @apply absolute inset-0 bg-[url('/images/bgGrid.svg')] bg-repeat-y bg-cover z-[3] bg-left;
    background-size: 100vw auto;
    min-height: 100vh;
  }

  /* components */

  .button-main {
    font-family: var(--font-minecraft-five);
    text-wrap: nowrap;
    color: #38caea;
    background-color: rgba(46, 124, 185, 0.4);
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, #0f939a 0%, #1c53a3 100%) 1;
    box-sizing: border-box;
    cursor: pointer;
  }

  /* header */
  .header_ul li a {
    transition: text-shadow 0.3s, color 0.3s;
  }

  .header_ul li a:hover {
    @apply text-orange text-shadow-orange;
    text-shadow: 0 -2 0px #fced70, 0 -4px 0px #9c3700,
      0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  .header_ul li a::after {
    background-color: #fced70;
    content: "";
    width: 110%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    /* transition: opacity 0.2s; */
    opacity: 0;
  }
  .header_ul li a:hover::after {
    opacity: 1;
  }
}
