.feature__list_left ul {
  position: relative;
  width: 347px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: var(--font-minecraft-rus);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}

.feature__list_left li {
  padding-inline: 10px;
  padding-block: 10px;
  background-color: #202020;

  border: 1px solid transparent;
  border-left: none;
  border-image: linear-gradient(90deg, #1c53a3 0%, #0f939a 100%) 1;
  box-sizing: border-box;
  color: #fff;
}

.feature__list_left p {
  filter: url(#common);
}

.feature__list_left li strong {
  color: cyan;
  font-weight: 400;
}

/* right */

.feature__list_right ul {
  position: relative;
  width: 347px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: var(--font-minecraft-rus);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}

.feature__list_right li {
  padding-inline: 10px;
  padding-block: 10px;
  background-color: #202020;

  border: 1px solid transparent;
  border-right: none;
  border-image: linear-gradient(90deg, #0f939a 0%, #1c53a3 100%) 1;
  box-sizing: border-box;
  color: #fff;
}

.feature__list_right p {
  filter: url(#common);
}

.feature__list_right li strong {
  color: cyan;
  font-weight: 400;
}

.list__mobile p {
  font-family: var(--font-minecraft-rus);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  filter: url(#common);
}

.list__mobile strong {
  font-weight: 400;
  color: cyan;
}
